* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #f9f9f2;
}

:root {
  
}

.gray{background: #595f6a;}
.red{background: #96394d;}
.black{background: #292a2c;}

@font-face {
  font-family: 'digital';
  src: url('digital.ttf');
}

body{
    padding: 50px;
}

.capa{
    width: 460px;
    height: 560px;
    padding: 10px 5px 10px 5px;
    background: #414050e0;
    border-radius: 35px;
    border: 2px #3c3b47 solid;
    box-shadow: 6px 6px 4px #3c3b47;
}

.calc{    
    width: 420px;
    height: 520px;
    padding: 20px;
    border-radius: 20px;
    background: #414050;
}

.base{
    width: 420px;
    height: 520px;
    display: block;
    background: #414050;
}

.sup{
    background: #1f2022;
    text-align: center;
}

.teclas{
    width: 430px;
    height: 400px;
}

.teclas>*{
    display: block;
    float: left;
}

.num{
    width: 210px;
    height: 280px;
    float: left;
}

.act2, .acti{
    width: 70px;
    display: block;
}

.form{
    float: left;
}

.oper{
    width: 140px;
    float: left;
}

.ope2{
    width: 70px;
    float: left;
}

header{
    display: block;
    width: 100%;
    height: 20px;
}

textarea{
    width: 85%;
    height: 70px;
    background: #a8b5bd;
    border: 10px solid #c6c6c6;
    text-shadow: 2px 1px 0px #000000a6;
    font-size: 36px;
    letter-spacing: 1px;
    padding: 5px;
    color: #000;
    resize: none;
    text-align: right;
    overflow: hidden;
    outline: none;
    font-family: 'digital';
}

.bnum{
    height: 50px;
    width: 60px;
    margin: 5px;
    padding-top: 10px;
    font-size: 38px;
}

.bts:active{
    box-shadow:inset 0px 0px 0px 1px #00000090;
}

.bform{
    margin: 5px;
    font-size: 24px;
    height: 30px;
    width: 60px;
}

.bact{
    height: 45px;
    width: 60px;
    margin: 5px;
    padding-top: 15px;
    font-size: 26px;
}

.bact2{
    height: 45px;
    width: 60px;
    margin: 5px;
    padding-top: 15px;
    font-size: 26px;
}

.bts{
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px #000;
    float: right;
}

.bnum2{
    height: 45px;
    width: 60px;
    margin: 5px;
    padding-top: 15px;
    font-size: 26px;
}

.resu{
    float: left;
    width: 140px;
}

.nume{
    width: 350px;
}

.plus{
    height: 80px;
    width: 60px;
    margin: 5px;
    padding-top: 50px;
    font-size: 26px;
    float: left;
}

.opr{    
    float: left;
    width: 420px;
}

.div{
    height: 15px;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}

.text{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}